
*{
   margin: 0; /* remover os espaçamentos externos, (margens) da página */
   padding: 0; /* remover os espaçamentos internos, (padding) */
}
.cabeçalho{
     background-color: rgb(118, 118, 248);
     padding-bottom: 2%;
}
.titulo-site{
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif
   
}
.menu{
    background-color: rgb(119, 173, 146);
    text-align: center;
    padding-top: 1%;
    
}
.menu li{
 display: inline-block;
 padding-top: 2%;
 padding-bottom: 3%;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px; 
    padding-right: 10px;
}
.menu a:hover{
   text-decoration: underline;  /* aplica o sublinhado  */
    
}

.h1{
    margin-top: 5%;
}
.container{
    height: 500px; /*define a altura fixa do grupo */
    background-color:rgb(208, 236, 243);
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;/*forçará o container a expandir e envolver os elementos flutuantes, garantindo que fiquem visíveis.  */

}
.main{
    width: 50%;
    text-align:justify;
    padding: 5%; 
    margin-top: 1%;
    margin-left: 25%;
    float: left;  
    box-sizing: border-box;/* ajusta lagura e altura do elemento na página em telas menores */

}
.right{
    width:20%;
    text-align: justify;
    padding: 10px; 
    margin-top: 20px;
    float: left;
    box-sizing: border-box;
}
.footer{
    background-color:rgb(119, 173, 146);
    text-align: center;
    color: white;
    padding: 3%;
  }
  .img{
    text-align: center;
    color: white;
    margin-top: 1%;
  }

